.button {
    padding: 8px;
    background-color: #371f76;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    @media (max-width: 640px) {
        width: 100%;
        display: block;
        text-align: center;
    }

    @media (min-width: 1024px) {
        margin-left: 12px;
    }
}