.button {
    padding: 8px;
    background-color: #371f76;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;

    @media (max-width: 640px) {
        width: 100%;
        display: block;
        text-align: center;
    }

    @media (min-width: 1024px) {
        margin-left: 12px;
    }

    &--secondary {
        border: 2px solid white;

        @media (max-width: 766px) {
            width: 60%;
            margin: 0 auto;
        }
    }
}