@use 'hero';
@use '../styles/components/infos_bar';
@use 'eventDetails';
@use 'confirmation';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.title {
    color: white;
    font-size: 22px;
    margin-bottom: 16px;
}